@font-face {
    font-family: "Star Jedi";
    src: url(../fonts/starjedi-webfont.woff);
}

body {
    font-family: "Star Jedi", arial;
    color: black;
    background-image: url(../images/background.jpg);
    background-position-y: 85px;
    background-size: 100%;
}

.header {
    background-image: url(../images/stars.jpg);
    height: 85px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 30px;
    /* color: rgb(240, 186, 61); */
    text-shadow: -2px -2px 0 rgb(240, 186, 61), 
                  2px -2px 0 rgb(240, 186, 61),
                 -2px 2px 0 rgb(240, 186, 61),
                  2px 2px 0 rgb(240, 186, 61);
}

.text-outline {
    color: black;
    font-size: 1.5em;
    text-shadow: -1px -1px 0 rgb(240, 186, 61), 
                  1px -1px 0 rgb(240, 186, 61),
                 -1px 1px 0 rgb(240, 186, 61),
                  1px 1px 0 rgb(240, 186, 61);
}

button {
    background-color: black;
    border: none;
}

.user-char {
    height: 320px;
}

.stat-display {
    text-align: center;
    height: 30px;
    text-shadow: -1px -1px 0 rgb(240, 186, 61), 
                  1px -1px 0 rgb(240, 186, 61),
                 -1px 1px 0 rgb(240, 186, 61),
                  1px 1px 0 rgb(240, 186, 61);
}

/* .overlay:after {
    content: "";
    position: absolute;
    width: 88%; height:15%;
    top:0; left:6%;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.1s;
}

.overlay:hover:after {
    opacity: 1;
} */